* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
display: flex;  
justify-content: center;
align-items: center;
background-color:lightblue;
height: 100vh;
}

.createpassword {
  padding: 30px;
  background-color: lightgoldenrodyellow;
  color: black;
  font-family: sans-serif;
 
}

.createpassword div {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}


.password {
 min-width: 250px;
background-color: lightpink;
color: rgb(199, 199, 199);
}

.password p {
  padding: 10px 10px;
  color: black;
}


.createpassword button {
  width: 100%;
  border: none;
  color: black(255, 255, 255, 0.699);
  background-color: lightpink;
  padding: 10px;
}
