/* use universal selector to set box-sizing so elements width won't be calculated with padding + border */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* box around password generator text*/
.container {
display: flex;  
justify-content: center;
align-items: center;
background-color:lightblue;
height: 100vh;
}

/* password generator content */
.createpassword {
  padding: 30px;
  background-color: lightgoldenrodyellow;
  color: black;
  font-family: sans-serif;
 
}

/* styling for the divs containing pw, length, symbol, number, lowercase, uppercase */
.createpassword div {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

  /* styling for password div */
.password {
 min-width: 250px;
background-color: lightpink;
color: rgb(199, 199, 199);
}

 /* styling for password paragraph where password will appear */
.password p {
  padding: 10px 10px;
  color: black;
}


 /* generate button */
.createpassword button {
  width: 100%;
  border: none;
  color: black(255, 255, 255, 0.699);
  background-color: lightpink;
  padding: 10px;
}
